<section class="hero text-center ">
    <div class="container">
        <!--<h1 class="display-4">Benvenuto in Mobishare</h1>
        <p class="lead">La mobilità sostenibile a portata di clic nella città di Cleanair.</p>
        <a href="/register" class="btn btn-custom-green btn-lg fw-semibold px-4 py-2 rounded-pill shadow">Registrati Ora</a>
        <a href="/register" class="btn btn-success btn-lg mt-3">Registrati Ora</a>-->
    </div>
</section>

<section class="container my-5">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 operations-grid justify-content-center">

        <a href="/login" class="text-decoration-none">
        <div class="col">
            <div class="card h-100 p-3 text-center rounded-4 shadow-sm feature-card selection-card">
                <div class="placeholder-icon" aria-label="Icona Bicicletta">
                    <span><i class="fas fa-bicycle"></i></span>
                </div>
                <div class="card-body">
                    <h3 class="card-title fs-4 fw-semibold text-success mb-2">Biciclette</h3>
                    <p class="card-text text-muted">Muscolari ed elettriche disponibili in tutta la città, per muoversi in libertà e sicurezza.</p>
                </div>
            </div>
        </div>
        </a>

        <a href="/login" class="text-decoration-none">
        <div class="col">
            <div class="card h-100 p-3 text-center rounded-4 shadow-sm feature-card selection-card">
                <div class="placeholder-icon" aria-label="Icona Monopattino">
                    <span><i class="bi bi-scooter"></i></span>
                </div>
                <div class="card-body">
                    <h3 class="card-title fs-4 fw-semibold text-success mb-2">Monopattini</h3>
                    <p class="card-text text-muted">Monopattini elettrici leggeri e agili per i tuoi spostamenti quotidiani.</p>
                </div>
            </div>
        </div>
        </a>

        <a href="/login" class="text-decoration-none">
        <div class="col">
            <div class="card h-100 p-3 text-center rounded-4 shadow-sm feature-card selection-card">
                <div class="placeholder-icon" aria-label="Icona Parcheggio">
                    <span><i class="fas fa-parking"></i></span>
                </div>
                <div class="card-body">
                    <h3 class="card-title fs-4 fw-semibold text-success mb-2">Parcheggi Intelligenti</h3>
                    <p class="card-text text-muted">Preleva e restituisci i mezzi nei punti Mobishare sparsi per Cleanair.</p>
                </div>
            </div>
        </div>
        </a>
    </div>
</section>
