<section class="hero text-center ">
    <div class="container">
        <h1 class="display-4">Benvenuto in Mobishare</h1>
        <p class="lead">La mobilità sostenibile a portata di clic nella città di Cleanair.</p>
        <!--<a href="/register" class="btn btn-success btn-lg mt-3">Registrati Ora</a>-->
    </div>
</section>

<section class="container my-5">
    <div class="row text-center">
        <div class="col-md-4">
            <img src="Img_Prova.png" class="img-fluid rounded mb-2" alt="Biciclette">
            <h3>Biciclette</h3>
            <p>Muscolari ed elettriche disponibili in tutta la città, per muoversi in libertà e sicurezza.</p>
        </div>
        <div class="col-md-4">
            <img src="Img_Prova.png" class="img-fluid rounded mb-2" alt="Monopattini">
            <h3>Monopattini</h3>
            <p>Monopattini elettrici leggeri e agili per i tuoi spostamenti quotidiani.</p>
        </div>
        <div class="col-md-4">
            <img src="Img_Prova.png" class="img-fluid rounded mb-2" alt="Parcheggi">
            <h3>Parcheggi intelligenti</h3>
            <p>Preleva e restituisci i mezzi nei punti Mobishare sparsi per Cleanair.</p>
        </div>
    </div>
</section>
